.product-table{
    width: 100%;
    position: relative;
}

.product-table::before{
    content: " ";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #00000031;
    display: none;
    z-index: 1;
}

.product-table.ativo::before{
    display: block;
}

.product-table table{
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    box-shadow: 1px 1px 25px #535353;
}

.product-table thead th{
    padding: 15px 20px;
    border: 1px solid #818181;
    text-transform: uppercase;
    font-size: 18px;
}

.product-table tbody th{
    padding: 15px;
    border: 1px solid #818181;
}

.material-icons{
    cursor: pointer;
}

.modal{
    width: 50%;
    height: auto;
    background: #ffffff;
    margin: auto;
    display: none;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1d1d1d81;
    z-index: 10;
}

.modal h4{
    color: #000000;
    padding: 15px;
    font-weight: 400;
    font-size: x-large;
    text-align: center;
}

.active{
    display: block;
}

.affirmative{
    background: blue;  
}

.negative{
    background: red;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.save{
    background: var(--primary-color);
    padding: 19px;
    margin: 60px;
}