form{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

form .field{
    background-color: #FFFFFF !important;
    min-height: 35px;
    margin-bottom: 10px;
}

.field input{
    height: 35px;
    width: 100%;
}