.footer{
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    color: #000000;
    letter-spacing: .5px;
}

.footer .material-icons{
    padding: 5px;
}