.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: transparent;
    padding-top: 10px;
}

.header .logo{
    max-height: 60px;
}

.header .title-group{
    padding: 0 15px;
}

.decoration-none{
    text-decoration: none;
}