    <div class="nav-bar">
        <div class="nav-list">
            <ul class="no-dots">
                <li class="nav-icon" routerLink="/">
                    <i class="material-icons">
                        home
                    </i>
                    <p>Ínicio</p>
                </li>
                <li class="nav-icon" routerLink="/products">
                    <i class="material-icons">
                        storefront
                    </i>
                    <p>Produto</p>
                </li>
            </ul>
        </div>
        <div class="content">
            <!-- roteamento aqui: -->
             <router-outlet></router-outlet>
        </div>
    </div>
