.nav-bar{
    margin-top: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
}

.nav-bar .nav-list{
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    width: 10%;
    background: rgb(0, 81, 255);
}

.nav-bar .nav-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
    color: white;
}

.nav-icon p{
    margin: 2px;
}